<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--MemberMapper.java Interface 연결 -->    
<mapper namespace="com.java.www.mapper.MemberMapper">
	
	<select id="login" resultType="com.java.www.dto.MemberDto">
		select * from member where id=#{id} and pw=#{pw}
	</select>
	
<!-- 이름 , 이메일로 비밀번호 찾기 -->
	<select id="idsearch" resultType="com.java.www.dto.MemberDto2">
		select * from member2 where name=#{name} and email=#{email}
	</select>
	
<!-- 아이디 , 이메일로 비밀번호 찾기 -->
	<select id="pwsearch" resultType="com.java.www.dto.MemberDto2">
		select * from member2 where id=#{id} and email=#{email}
	</select>
	
<!-- 아이디와 새로운 pwcode 로 비밀번호 저장 -->
	<update id="update_pw">
	update member2 set pw=#{pwcode} where id=#{pw}
	</update>
	
	<select id="idCheck" resultType="com.java.www.dto.MemberDto2">
		select * from member2 where id=#{id}
	</select>
		
 	
</mapper>